@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --color-primary: #4CAF50;
    --color-secondary: #f4f4f4;
    --color-text: #333;
    --font-family: 'Open Sans', sans-serif;
}